@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;400;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');
// sans-serif;
$headingfontFamily: 'Francois One',
sans-serif;

$bodyfontFamily:'Josefin Sans',
sans-serif;
// $fontFamily:'Dosis',
// sans-serif;
$primaryColor:#ff8b44;
$secondaryColor:#478975;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;